<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;700&family=Bodoni+Moda:wght@400;700&display=swap"
        rel="stylesheet">

    <title>Emiri Begic</title>
</head>

<body>
    <div class="container">

        <header class="page-header">
            <!-- TODO Items will be populated later with JS-->
            <!-- TODO Smooth scroll to each section-->
            <nav class="nav nav-header">
                <a href="#">emiri begic</a>
                <ul class="nav__list">
                    <li class="nav__item">About</li>
                    <li class="nav__item">Skill</li>
                    <li class="nav__item">Project</li>
                    <li class="nav__item">Contact</li>
                </ul>
            </nav>
        </header>
        <main class="page-contents">
            <section class="hero content">
                <div class="hero__text">
                    <h1>I am Emiri</h1>
                    <p>a Front-end Developer</p>
                </div>
                <div class="hero__link">
                    <a href="#about">Click me</a>
                </div>
            </section>
            <section id="about" class="about content">
                <div class="content__title">
                    <h2>About</h2>
                </div>
                <div class="content__grid">
                    <div class="grid__item">
                        <img id="profile-img">
                    </div>
                    <div class="grid__item">
                        <p>I'm Emiri, a self-taught front-end developer in
                            Germany. I like to organize things and wondered if I could make my own To-Do app to make
                            my
                            life
                            easier.
                            Since then coding (especially JavaScript!) has triggered my curiosity and it was enough
                            to
                            motivate me to change my career to IT. My goal as front-end developer is to make modern
                            web
                            applications that make our lives a bit easier!
                        </p>
                    </div>
                </div>
            </section>
            <section id="skills" class="skills content">
                <div class="content__title">
                    <h2>Skills</h2>
                </div>
                <div class="content__grid">
                    <div class="grid__item">Front-end</div>
                    <div class="grid__item">Back-end</div>
                    <div class="grid__item">Tools</div>
                    <div class="grid__item">Others (languages)</div>
                </div>
            </section>
            <section id="projects" class="projects content">
                <div class="content__title">
                    <h2>Projects</h2>
                </div>
                <div class="content__grid">
                    <div class="grid__item">Project 1</div>
                    <div class="grid__item">Project 2</div>
                    <div class="grid__item">Project 3</div>
                    <div class="grid__item">Project 4</div>
                </div>
            </section>
            <section id="contact" class="contact content">
                <div class="content__title">
                    <h2>Contact</h2>
                </div>
                <div class="content__grid">
                    <div class="grid__item">Name</div>
                    <div class="grid__item">Email</div>
                    <div class="grid__item">Form</div>
                    <div class="grid__item">Send</div>
                </div>
            </section>
        </main>
        <footer class="page-footer">
            <nav class="nav-ft">
                <ul class="nav-ft__list">
                    <li class="nav-ft__item">
                        <a href="https://github.com/emiribegic" target="_blank">GH</a>
                    </li>
                    <li class="nav-ft__item">LK</li>
                    <li class="nav-ft__item">TW</li>
                    <li class="nav-ft__item">IN</li>
                </ul>
            </nav>
            <p class="copyright">
                emiri begic © 2021
            </p>
        </footer>
    </div>
</body>

</html>