// FONT
$font-stack: 400 1rem 'Dosis', sans-serif;

// COLOR
$pink: rgb(255, 192, 203);
$blue: rgb(167, 223, 255);
$orange: rgb(243, 174, 133);
$green: rgb(165, 231, 206);
$color-link: rgb(112, 112, 112);

// MARGIN
$center-w-margin: 0 auto;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75rem; // 1200px
$bp-large: 62rem; // 992px
$bp-medium: 48rem; // 768px;
$bp-small: 30rem; // 480px;

* {
	margin: 0;
	padding: 0;
	// border: 1px solid black;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	font: $font-stack;
}

h1,
h2,
h3,
h4 {
	font-weight: 400;
}

img {
	// Responsive
	max-width: 100%;
	height: auto;
	object-fit: cover;
	display: block;

	@media only screen and (min-width: $bp-small) {
		max-width: 50%;
	}

	@media only screen and (min-width: $bp-medium) {
		max-width: 70%;
	}

	@media only screen and (min-width: $bp-large) {
		max-width: 100%;
	}

	@media only screen and (min-width: $bp-largest) {
		max-width: 70%;
	}
}

ul {
	list-style: none;
}

.link {
	text-decoration: none;
	text-transform: uppercase;
	color: $color-link;
	cursor: pointer;
	position: relative;
	z-index: 2;

	&:after {
		content: '';
		background: $color-link;
		width: calc(100% + 10px);
		height: 0px;
		position: absolute;
		bottom: -1px;
		left: -5px;
		transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
		transform-origin: bottom center;
		z-index: -1;
	}

	&:hover {
		color: #fff;

		&:after {
			height: 110%;
		}
	}
}

// Feather icons
.feather {
	display: inline-block;
	vertical-align: middle;
}
