$color-primary: rgb(245, 230, 244);
$color-link: rgb(112, 112, 112);
$font-stack: 400 1rem 'Dosis', sans-serif;
$font-secondary: 400 1rem 'Bodoni Moda', serif;
$default-padding: 0.5rem 1rem;
$default-height: 100vh;

* {
	margin: 0;
	padding: 0;
	border: 1px solid black;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	height: 100%;
}

body {
	font: $font-stack;
	height: 100%;
}

.container {
	display: grid;
	grid-template-columns: repeat(4, minmax(10rem, auto));
	grid-template-rows: repeat(3, minmax(2rem, auto));
	grid-template-areas:
		'hd hd hd hd'
		'ma ma ma ma'
		'ft ft ft ft';
	align-self: center;

	// background-color: $color-primary;
}

.default-padding {
	padding: $default-padding;
}

.default-dime {
	height: $default-height;
}

a {
	text-decoration: none;
	color: $color-link;
	cursor: pointer;
	position: relative;
	z-index: 99;
	// padding-left: 1rem;

	&:after {
		content: '';
		background: $color-link;
		// mix-blend-mode: exclusion;
		width: calc(100% + 20px);
		height: 0px;
		position: absolute;
		bottom: -1px;
		left: -10px;
		transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
		transform-origin: bottom center;
		z-index: -1;
	}

	&:hover {
		color: #fff;
		// height: calc(100% + 8px);

		&:after {
			height: 100%;
		}
	}
}
