$color-primary: rgb(245, 230, 244);
$color-link: rgb(112, 112, 112);
$font-stack: 400 1rem 'Dosis', sans-serif;
$font-btn: 400 0.8rem 'Dosis', sans-serif;

* {
	margin: 0;
	padding: 0;
	border: 1px solid black;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	font: $font-stack;
}

img {
	width: 100%;
	object-fit: cover;
	display: block;
}

.link {
	text-decoration: none;
	color: $color-link;
	cursor: pointer;
	position: relative;
	z-index: 99;

	&:after {
		content: '';
		background: $color-link;
		width: calc(100% + 20px);
		height: 0px;
		position: absolute;
		bottom: -1px;
		left: -10px;
		transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
		transform-origin: bottom center;
		z-index: -1;
	}

	&:hover {
		color: #fff;

		&:after {
			height: 110%;
		}
	}
}

.btn {
	display: inline-block;
	border: 1px solid #000;
	border-radius: 100px;
	max-width: 100%;
	text-decoration: none;
	padding: 0 0.5rem;
	background: #fff;
	color: #000;
	font: $font-btn;
	// margin: 0 0.5rem;
	cursor: pointer;
	text-align: center;
	transition: background 250ms ease-in-out, transform 150ms ease;
	-webkit-appearance: none;
	-moz-appearance: none;

	&:hover {
		background: $color-link;
		color: #fff;
		border: 1px solid $color-link;
	}

	// TODO Blue line after clicking buttons
}
