.contents {
	grid-area: ma;
	display: grid;
	grid-template-columns: repeat(4, minmax(10rem, auto));
	grid-template-rows: repeat(4, minmax(2rem, auto));
	grid-template-areas:
		'hr hr hr hr'
		'ab ab ab ab'
		'sk sk sk sk'
		'pj pj pj pj'
		'ct ct ct ct';
	// padding: 0.5rem 1rem;
}

.contents__hero {
	grid-area: hr;
	// height: calc(100vh - 36px) - dynamically setup with JS
	// width: 100vw;
	position: relative;
	// background-color: rgb(241, 189, 224);

	&__title {
		display: block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	// h1 {
	// 	display: block;
	// 	position: absolute;
	// 	top: 50%;
	// 	transform: translateY(-50%);
	// }

	// p {
	// 	display: block;
	// 	position: absolute;
	// 	top: 55%;
	// 	transform: translateY(-55%);
	// }

	.click-to-scroll {
		position: absolute;
		top: calc(100% - 2rem);
		z-index: 1;
	}
}

.contents__about {
	grid-area: ab;
	position: relative;

	&__title {
		display: block;
	}

	&__details {
		display: flex;
		align-items: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: calc(100% - 2rem);

		&__img,
		&__text {
			width: 50%;
			margin: 10px;
		}
	}
}

// TODO cannot use flex to center here
.contents-skills {
	grid-area: sk;
}

// TODO Adjustment needed
section {
	padding-bottom: 3rem;
}

// TODO Adjustment needed
.section-container {
	padding: 3rem;
	margin: 0 auto; // Center vertically
}

// TODO Change value name
.pad {
	padding: 1rem;
}

.section-main {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 0.5rem;
	grid-template-areas:
		'1 2'
		'3 4';

	&section-item-1 {
		grid-area: 1;
	}

	&section-item-2 {
		grid-area: 2;
	}

	&section-item-3 {
		grid-area: 3;
	}

	&section-item-4 {
		grid-area: 4;
	}
}
// display: grid;
// grid-template-columns: repeat(4, minmax(1rem, auto));
// grid-template-rows: repeat(5, minmax(1rem, auto));
// gap: 1rem;
// justify-content: space-evenly;
// align-content: center;
// grid-template-areas:
// 	'ti ti ti ti'
// 	'fe fe be be'
// 	'fe fe be be'
// 	'to to ot ot'
// 	'to to ot ot';

// &__title {
// 	grid-area: ti;
// }

// &__fe {
// 	grid-area: fe;
// }

// &__be {
// 	grid-area: be;
// }

// &__tools {
// 	grid-area: to;
// }

// &__others {
// 	grid-area: ot;
// }

// &__details {
// 	display: grid;
// 	grid-template-columns: repeat(2, 15rem);
// 	grid-template-rows: repeat(2, 7.5rem);
// 	gap: 1rem;
// 	justify-content: space-evenly;
// 	margin: 1rem 0;
// }

.contents__projects {
	grid-area: pj;
}

.contents__contact {
	grid-area: ct;

	&__title {
		display: block;
	}
}
