.contents {
	grid-area: ma;
	display: grid;
	grid-template-columns: repeat(4, minmax(10rem, auto));
	grid-template-rows: repeat(4, minmax(2rem, auto));
	grid-template-areas:
		'hr hr hr hr'
		'ab ab ab ab'
		'sk sk sk sk'
		'pj pj pj pj'
		'ct ct ct ct';
	// padding: 0.5rem 1rem;
}

.contents__hero {
	grid-area: hr;
	// height: calc(100vh - 36px) - dynamically setup with JS
	// width: 100vw;
	position: relative;
	// background-color: rgb(241, 189, 224);

	&__title {
		display: block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	// h1 {
	// 	display: block;
	// 	position: absolute;
	// 	top: 50%;
	// 	transform: translateY(-50%);
	// }

	// p {
	// 	display: block;
	// 	position: absolute;
	// 	top: 55%;
	// 	transform: translateY(-55%);
	// }

	.click-to-scroll {
		position: absolute;
		top: calc(100% - 2rem);
		z-index: 1;
	}
}

.contents__about {
	grid-area: ab;
	position: relative;

	&__title {
		display: block;
	}

	&__details {
		display: flex;
		align-items: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: calc(100% - 2rem);

		&__img,
		&__text {
			width: 50%;
			margin: 10px;
		}
	}
}

// TODO cannot use flex to center here
.contents-skills {
	grid-area: sk;

	&__title {
		display: block;
	}

	&__details {
		display: grid;
		grid-template-columns: repeat(2, 15rem);
		grid-template-rows: repeat(2, 7.5rem);
		gap: 1rem;
		justify-content: space-evenly;
		margin: 1rem 0;

		&__fe {
			grid-area: 1 / 1 / span 1 / span 1;
			margin: 1rem 0 0;
		}

		&__be {
			grid-area: 1 / 2 / span 1 / span 1;
			margin: 1rem 0 0;
		}

		&__tools {
			grid-area: 2 / 1 / span 1 / span 1;
			margin: 0 0 1rem;
		}

		&__others {
			grid-area: 2 / 2 / span 1 / span 1;
			margin: 0 0 1rem;
		}
	}
}

.contents__projects {
	grid-area: pj;

	&__details {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
	}
}

.contents__contact {
	grid-area: ct;

	&__title {
		display: block;
	}
}
