.container {
	margin: 0 auto;
	padding: 0.5rem 1rem;
}

section {
	margin: 0 auto;
	padding: 2rem;
}

.heading-2 {
	margin-bottom: 3rem;
}

// Hero
.hero {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 1rem;
	align-items: center;
	grid-template-rows: 2rem auto 2rem;
	padding: 0 2rem;

	&__heading {
		grid-area: 2 / 1 / span 1 / span 1;
	}

	&__link {
		grid-area: 3 / 1 / span 1 / span 1;
	}
}

// About
.about {
	&__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 1rem;
		grid-row-gap: 1rem;
		justify-items: center;
		align-items: center;
		margin-bottom: 3rem;
	}

	&__img {
		// max-height: 290px;
		// width: auto;
		border-radius: 10% 30% 50% 70%;
	}

	&__text {
		text-align: justify;
		text-justify: inter-word;

		p {
			margin-bottom: 0.85rem;
		}
	}
}

// SKILLS
.skills {
	&__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 1rem;
		grid-row-gap: 1rem;
		justify-items: center;
		align-items: center;
		margin-bottom: 3rem;
	}

	&__item {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		text-align: center;
		margin-bottom: 1rem;
		// border-radius: 10% 30% 50% 70%;
		padding: 5rem;
	}

	&__heading {
		font-weight: 800;
		letter-spacing: 5px;
		margin: 0 auto 1rem auto;

		&:first-letter {
			// text-decoration: underline;
			float: left;
			font-size: 3rem;
			line-height: 2.5rem;
		}
	}

	&__stack {
		font-size: 0.75rem;
		letter-spacing: 0.05rem;
		margin: 0.1rem 0.25rem;
		text-transform: uppercase;
	}

	.fe {
		background: blue;
		border: 1px solid blue;
		border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
		color: #fff;
	}

	.be {
		background: red;
		border: 1px solid red;
	}

	.to {
		background: rgb(255, 217, 0);
		border: 1px solid rgb(255, 217, 0);
	}

	.ot {
		background: rgb(182, 145, 96);
		border: 1px solid rgb(182, 145, 96);
		border-radius: 30% 70% 70% 30% / 40% 60% 40% 60%;
	}
}

// TODO from here for revision

// PROJECTS
.projects {
	&__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 1rem;
		grid-row-gap: 1rem;
		justify-items: center;
		align-items: stretch;
	}

	&__card {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		text-align: center;
		margin: 1rem;
		margin-top: 0;

		// Set the GH link at the bottom
		p {
			margin-top: auto;
		}
	}

	&__img {
		margin-bottom: 1rem;
		max-width: 374px;
		height: auto;
	}

	&__heading {
		// font-weight: 400;
		// margin: 0 auto 1rem auto;
		margin-bottom: 1rem;
	}

	&__built-with {
		margin-bottom: 1rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__stack {
		font-size: 0.75rem;
		letter-spacing: 0.05rem;
		margin: 0.1rem 0.25rem;
		text-transform: uppercase;
	}

	&__detail {
		margin-bottom: 2rem;
		list-style: square;
		list-style-position: inside;
		text-align: left;
	}
}

// CONTACT
.link-contact {
	display: inline-block;
	font-size: 0.75rem;
	text-decoration: none;
	padding: 0.5rem;
	border: 1px solid black;

	span {
		display: inline-block;
		padding: 0rem;
		vertical-align: middle;
	}
}

// .section__grid {
// 	display: grid;
// 	grid-template-columns: repeat(2, 1fr);
// 	grid-column-gap: 1rem;
// 	grid-row-gap: 1rem;
// 	justify-items: center;
// 	align-items: stretch;
// 	margin-bottom: 3rem;
// }

// &--section {
// 	grid-row-gap: 1rem;
// 	justify-items: center;
// 	align-items: stretch;
// 	margin-bottom: 3rem;
// }
////////////////

// // HERO
// .hero {
// 	display: grid;
// 	grid-template-columns: repeat(2, 1fr);
// 	grid-column-gap: 1rem;
// 	align-items: center;
// 	grid-template-rows: 2rem auto 2rem;

// 	&__text {
// 		grid-area: 2 / 1 / span 1 / span 1;
// 	}

// 	&__link {
// 		grid-area: 3 / 1 / span 1 / span 1;
// 	}
// }
