// Desktop
.header {
	margin: 0 auto;
	padding: 1rem 2rem;

	&__nav {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		height: 8vh;
	}

	// Hide hamburger menu
	& .hamburger {
		display: none;
	}

	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__item {
		display: inline-block;
		padding-left: 1rem;
	}
}

// Small screens
@media only screen and (max-width: 720px) {
	// TODO How to make not scrollable when nav is open?
	// Prevent from scrolling
	// body {
	// 	overflow-x: hidden;
	// }

	.header {
		margin: 0 auto;
		padding: 0;

		&__nav {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		// Show hamburger menu
		.hamburger {
			display: block;
		}

		&__list {
			display: flex;
			flex-direction: column;
			position: absolute;
			width: 100%;
			right: 0px;
			// 100 - nav height - container pad
			height: calc(100vh - 8vh - 1rem);
			// nav vh + container pad
			top: calc(8vh + 1rem);
			background: #fff;
			z-index: 3;
			transform: translateX(100%);
			transition: transform 0.3s ease-in;

			// Show list items by clicking the hamburger menu
			&.show {
				transform: translateX(0%);
			}
		}

		&__item {
			display: inline-block;
			padding: 1rem 0;
			opacity: 0;
		}
	}

	@keyframes navItemFade {
		from {
			opacity: 0;
		}
		to {
			opacity: 100;
		}
	}
}
