.page__header {
	grid-area: hd;
	// padding: 0.5rem 1rem;
}

.nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	&__list {
		display: flex;
		list-style: none;
	}

	&__item {
		display: inline-block;
		padding-left: 1rem;
	}
}
