@import url(https://fonts.googleapis.com/css2?family=Anaheim&display=swap);

$primary-color: rgb(50, 182, 160);
$font-stack: 'Anaheim', sans-serif;

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	font-family: 100% $font-stack;
	background: $primary-color;
}
