$primary-color: rgb(50, 182, 160);
$font-stack: 400 1rem 'Dosis', sans-serif;

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	font: $font-stack;
	background: $primary-color;
}
